<a href="https://colab.research.google.com/github/abdulmoiz99/NLP_MachineLearning/blob/main/NLP_for_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Natural Language Processing for Maching Learning**

In [3]:
import nltk
nltk.download("stopwords")
nltk.download("state_union")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package state_union to /root/nltk_data...
[nltk_data]   Unzipping corpora/state_union.zip.

True

In [6]:
rawData = open("SMSSpamCollection.tsv").read()
rawData[0:250]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup fi"

In [8]:
import pandas as pd

data = pd.read_csv("SMSSpamCollection.tsv",sep='\t',names=['label','body_text'], header =None)

data.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [9]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [10]:
def remove_punctuation(text):
  text_nopunctuation = "".join([char for char in text if char not in string.punctuation])
  return text_nopunctuation


data['body_text_clean'] = data['body_text'].apply(lambda x: remove_punctuation(x))
data.head()

  label  ...                                    body_text_clean
0   ham  ...  Ive been searching for the right words to than...
1  spam  ...  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  ...  Nah I dont think he goes to usf he lives aroun...
3   ham  ...  Even my brother is not like to speak with me T...
4   ham  ...                  I HAVE A DATE ON SUNDAY WITH WILL

[5 rows x 3 columns]

In [12]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [14]:
from nltk.tokenize import word_tokenize

data['body_text_tokenized'] = data['body_text_clean'].apply(lambda x: word_tokenize(x))

data.head()

  label  ...                                body_text_tokenized
0   ham  ...  [Ive, been, searching, for, the, right, words,...
1  spam  ...  [Free, entry, in, 2, a, wkly, comp, to, win, F...
2   ham  ...  [Nah, I, dont, think, he, goes, to, usf, he, l...
3   ham  ...  [Even, my, brother, is, not, like, to, speak, ...
4   ham  ...         [I, HAVE, A, DATE, ON, SUNDAY, WITH, WILL]

[5 rows x 4 columns]

In [16]:
import nltk

stopword = nltk.corpus.stopwords.words('english')

In [17]:
def remove_stopwords(tokenized_list):
  text = [word for word in tokenized_list if word not in stopword]
  return text

In [18]:
data['body_text_noStop'] = data['body_text_tokenized'].apply(lambda x: remove_stopwords(x))

data.head()

  label  ...                                   body_text_noStop
0   ham  ...  [Ive, searching, right, words, thank, breather...
1  spam  ...  [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
2   ham  ...  [Nah, I, dont, think, goes, usf, lives, around...
3   ham  ...  [Even, brother, like, speak, They, treat, like...
4   ham  ...         [I, HAVE, A, DATE, ON, SUNDAY, WITH, WILL]

[5 rows x 5 columns]

In [19]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

In [22]:
def stemming(tokenized_text):
  text =[stemmer.stem(word) for word in tokenized_text]
  return text

In [23]:
data['body_text_stemmed'] = data['body_text_noStop'].apply(lambda x: stemming(x))
data.head()

  label  ...                                  body_text_stemmed
0   ham  ...  [ive, search, right, word, thank, breather, I,...
1  spam  ...  [free, entri, 2, wkli, comp, win, FA, cup, fin...
2   ham  ...  [nah, I, dont, think, goe, usf, live, around, ...
3   ham  ...  [even, brother, like, speak, they, treat, like...
4   ham  ...         [I, have, A, date, ON, sunday, with, will]

[5 rows x 6 columns]

In [27]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [28]:
def lemmatizing(tokenized_text):
  text= [lemmatizer.lemmatize(word) for word in tokenized_text]
  return text

In [29]:
data['body_text_lemmatized'] = data['body_text_noStop'].apply(lambda x: lemmatizing(x))
data.head()

  label  ...                               body_text_lemmatized
0   ham  ...  [Ive, searching, right, word, thank, breather,...
1  spam  ...  [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
2   ham  ...  [Nah, I, dont, think, go, usf, life, around, t...
3   ham  ...  [Even, brother, like, speak, They, treat, like...
4   ham  ...         [I, HAVE, A, DATE, ON, SUNDAY, WITH, WILL]

[5 rows x 7 columns]

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

In [37]:
count_vector = CountVectorizer(ngram_range=(2,2))
X_counts= count_vector.fit_transform(data['body_text'])

In [38]:
X_counts.shape

(5568, 41754)

In [40]:
count_vector.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['00 in',
 '00 per',
 '00 sub',
 '00 subs',
 '000 bonus',
 '000 cash',
 '000 homeowners',
 '000 pounds',
 '000 price',
 '000 prize',
 '000 xmas',
 '000pes so',
 '008704050406 sp',
 '0089 my',
 '0121 2025050',
 '01223585236 xx',
 '01223585334 to',
 '0125698789 ring',
 '02 06',
 '02 09',
 '02 claimcode',
 '02 user',
 '0207 083',
 '0207 153',
 '02072069400 bx',
 '02073162414 now',
 '02085076972 reply',
 '021 3680',
 '03 05',
 '03 is',
 '03 our',
 '03 this',
 '04 call',
 '0430 jul',
 '05 05',
 '05 or',
 '050703 csbcm4235wc1n3xx',
 '0578 now',
 '06 03',
 '06 05',
 '06 11',
 '06 good',
 '07 11',
 '07046744435 now',
 '07090298926 to',
 '07099833605 to',
 '07123456789 to',
 '0721072 to',
 '07732584351 rodger',
 '07734396839 ibh',
 '07742676969 shows',
 '07753741225 shows',
 '0776xxxxxxx ve',
 '07781482378 com',
 '077xxx won',
 '07801543489 are',
 '07808 xxxxxx',
 '07808247860 shows',
 '07808726822 was',
 '07815296484 shows',
 '078498 shows',
 '0789xxxxxxx today',
 '07946746291 07880867867',
 '0796xxxxxx today',
 '07973788240 shows',
 '07xxxxxxxxx shows',
 '07xxxxxxxxx won',
 '08 03',
 '0800 0721072',
 '0800 169',
 '0800 18',
 '0800 195',
 '0800 1956669',
 '0800 505060',
 '0800 542',
 '08000407165 18',
 '08000776320 now',
 '08000839402 now',
 '08000839402 or',
 '08000839402 or2optout',
 '08000930705 del',
 '08000930705 for',
 '08000930705 now',
 '08000930705 or',
 '08000938767 to',
 '08001950382 or',
 '08002888812 or',
 '08002988890 now',
 '08006344447 to',
 '0808 145',
 '08081263000 to',
 '08081560665 and',
 '0825 now',
 '083 6089',
 '0844 861',
 '08448350055 from',
 '08448714184 stop',
 '0845 021',
 '0845 2814032',
 '08452810071 16',
 '08452810073 for',
 '0870 chatlines',
 '0870 is',
 '08700469649 po',
 '08700621170150p per',
 '08701237397 you',
 '08701417012 profit',
 '08701417012150p per',
 '0870141701216 norm',
 '08701752560 450p',
 '087018728737 national',
 '0870241182716 wk',
 '08702490080 tells',
 '08702840625 comuk',
 '08704439680 when',
 '08704439680ts cs',
 '0870737910216yrs only',
 '08707500020 just',
 '08707509020 just',
 '08708800282 hg',
 '08709222922 national',
 '08709501522 for',
 '0871 4719',
 '0871 872',
 '087104711148 now',
 '08712101358 now',
 '08712103738 now',
 '08712300220 quoting',
 '08712300220 to',
 '087123002209am 7pm',
 '08712317606 msg150p',
 '08712317606 stop',
 '08712400602450p provided',
 '08712402050 before',
 '08712402578 immediately',
 '08712402779 immediately',
 '08712402902 immediately',
 '08712402972 immediately',
 '08712404000 immediately',
 '08712405022 1x150p',
 '08712460324 10p',
 '08712460324 nat',
 '08712466669 at',
 '0871277810710p min',
 '0871277810910p min',
 '08714342399 2stop',
 '087147123779am 7pm',
 '08714712379 between',
 '08714712388 between',
 '08714712394 between',
 '08714712412 between',
 '08715203028 to',
 '08715203649 identifier',
 '08715203652 identifier',
 '08715203656 identifier',
 '08715203677 identifier',
 '08715203685 identifier',
 '08715203694 identifier',
 '08715500022 rpl',
 '08715705022 1x150p',
 '0871750 77',
 '08717507382 now',
 '08717509990 poly',
 '08717890890 50',
 '08717895698 now',
 '08717898035 00',
 '08718720201 hg',
 '08718720201 po',
 '08718725756 140ppm',
 '087187262701 50gbp',
 '08718726970 now',
 '08718726971 now',
 '08718726978 now',
 '087187272008 now1',
 '08718727868 over',
 '08718730555 just',
 '08718730666 10p',
 '08718738001 identifier',
 '08718738002 identifier',
 '08719180219 identifier',
 '08719180248 identifier',
 '08719181259 identifier',
 '08719839835 future',
 '08719899217 identifier',
 '08719899229 identifier',
 '08719899230 identifier',
 '09 02',
 '09 03',
 '09041940223 to',
 '09050000332 to',
 '09050000460 from',
 '09050000555 ba128nnfwfly150ppm',
 '09050000878 pobox45w2tg150p',
 '09050000928 pobox45w2tg150p',
 '09050001295 from',
 '09050001808 from',
 '09050002311 b4280703',
 '09050003091 from',
 '09050090044 now',
 '09050280520 to',
 '09053750005 b4',
 '09056242159 to',
 '09058091854 now',
 '09058091870 now',
 '09058094454 from',
 '09058094455 from',
 '09058094507 from',
 '09058094565 from',
 '09058094583 to',
 '09058095107 now',
 '09058095201 from',
 '09058097189 now',
 '09058097218 to',
 '09058098002 pobox1',
 '09058099801 b4190604',
 '09061104276 to',
 '09061104283 ts',
 '09061209465 now',
 '09061213237 from',
 '09061221061 from',
 '09061221066 fromm',
 '09061701444 valid',
 '09061701461 claim',
 '09061701851 claim',
 '09061701939 claim',
 '09061702893 acl03530150pm',
 '09061743806 from',
 '09061743810 from',
 '09061743811 from',
 '09061744553 now',
 '09061749602 from',
 '09061790121 from',
 '09061790125 from',
 '09061790126 from',
 '09063440451 from',
 '09063442151 to',
 '09063458130 now',
 '0906346330 your',
 '09064011000 ntt',
 '09064012103 box334sk38ch',
 '09064012160 claim',
 '09064015307 box334sk38ch',
 '09064017295 claim',
 '09064017305 pobox75ldns7',
 '09064018838 ntt',
 '09064019014 to',
 '09064019788 box42wr29c',
 '09065171142 stopsms',
 '09065174042 to',
 '09065394514 from',
 '09065394973 from',
 '09065989182 from',
 '09066350750 from',
 '09066358152 to',
 '09066358361 from',
 '09066362206 asap',
 '09066362220 asap',
 '09066362231 asap',
 '09066362231 urgent',
 '09066364311 to',
 '09066364349 now',
 '09066368327 now',
 '09066368753 asap',
 '09066382422 calls',
 '09066612661 from',
 '09066649731from landline',
 '09066660100 now',
 '09071512432 b4',
 '09071512433 b4',
 '09071517866 now',
 '09077818151 to',
 '09090204448 and',
 '09090900040 listen',
 '09094100151 to',
 '09094646631 just',
 '09094646899 now',
 '09095350301 and',
 '09096102316 can',
 '09099725823 hope',
 '09099726395 lucy',
 '09099726429 janinexx',
 '09099726481 luv',
 '09099726553 reply',
 '09111030116 pobox12n146tf15',
 '09111032124 pobox12n146tf150p',
 '0a networks',
 '0quit edrunk',
 '10 000',
 '10 04',
 '10 06',
 '10 10',
 '10 1mega',
 '10 30',
 '10 at',
 '10 days',
 '10 den',
 '10 did',
 '10 evey',
 '10 free',
 '10 kilos',
 '10 ls1',
 '10 man',
 '10 min',
 '10 more',
 '10 mths',
 '10 pages',
 '10 smth',
 '10 to',
 '100 000',
 '100 cash',
 '100 dating',
 '100 free',
 '100 gift',
 '100 high',
 '100 of',
 '100 percent',
 '100 to',
 '100 travel',
 '100 txts',
 '100 weekly',
 '100 wkly',
 '1000 cash',
 '1000 cashto',
 '1000 flirting',
 '1000 in',
 '1000 of',
 '1000 or',
 '1000 prize',
 '1000 to',
 '1000 txt',
 '1000 txts',
 '1000 winner',
 '1000call 09071512432',
 '1000s choose',
 '1000s of',
 '100p sms',
 '100percent real',
 '100txt mth',
 '1013 ig11',
 '1030 there',
 '1030 to',
 '10am 7pm',
 '10am 9pm',
 '10am till',
 '10k 5k',
 '10k cash',
 '10p min',
 '10p per',
 '10p reply',
 '10ppm 16',
 '10th sept',
 '11 04',
 '11 48',
 '11 bt',
 '11 mnths',
 '11 months',
 '11 ok',
 '11 then',
 '11 tmr',
 '1120 to',
 '113 bray',
 '1131 standard',
 '114 14',
 '1146 mk45',
 '116 but',
 '1172 for',
 '118p msg',
 '11mths call',
 '11mths update',
 '11mths you',
 '11pm as',
 '12 000pes',
 '12 30',
 '12 anyway',
 '12 help',
 '12 hours',
 '12 kiosk',
 '12 mths',
 '12 rite',
 '1205 one',
 '121 chat',
 '1225 are',
 '123 congratulations',
 '125 gift',
 '1250 call',
 '125gift guaranteed',
 '128 mb',
 '12hours only',
 '12hrs 150p',
 '12hrs only',
 '12mths 2price',
 '12mths half',
 '13 04',
 '13 10',
 '130 iriver',
 '1327 croydon',
 '139 la3',
 '14 tcr',
 '140 ard',
 '1405 1680',
 '145 4742',
 '1450 prize',
 '14tcr w1',
 '14thmarch apply',
 '15 26',
 '15 as',
 '15 cos',
 '150 ppm',
 '150 prize',
 '150 sae',
 '150 text',
 '150 textand',
 '150 voucher',
 '150 worth',
 '1500 bonus',
 '150p 08712400603',
 '150p 18',
 '150p daily',
 '150p day',
 '150p inc',
 '150p meg',
 '150p min',
 '150p msg',
 '150p msgrcvd',
 '150p msgrcvdhg',
 '150p mt',
 '150p mtmsg',
 '150p mtmsgrcvd18',
 '150p netcollex',
 '150p per',
 '150p pm',
 '150p poly',
 '150p rcvd',
 '150p reply',
 '150p sms',
 '150p stop',
 '150p text',
 '150p textoperator',
 '150p tone',
 '150p wk',
 '150pm dont',
 '150pm to',
 '150ppm 16',
 '150ppm 18',
 '150ppm ave',
 '150ppm mobile',
 '150ppm mobiles',
 '150ppm mobilesvary',
 '150ppmsg 18',
 '150pw to',
 '151 to',
 '153 9153',
 '153 9996',
 '15pm to',
 '16 118p',
 '16 99',
 '16 after',
 '16 close',
 '16 club',
 '16 cs',
 '16 gbp1',
 '16 may',
 '16 norm150p',
 '16 only',
 '16 remove',
 '16 reply',
 '16 sn',
 '16 stop',
 '16 tsandcs',
 '16 unsub',
 '16 wk',
 '165 or',
 '165 see',
 '1680 1843',
 '169 6031',
 '177 m227xy',
 '18 11',
 '18 150p',
 '18 30pp',
 '18 50',
 '18 bt',
 '18 content',
 '18 days',
 '18 its',
 '18 msg',
 '18 only',
 '18 sender',
 '18 stop',
 '18 to',
 '18 www',
 '18 xxx',
 '18 years',
 '18 yrs',
 '180 at',
 '1843 all',
 '18p txt',
 '195 6669',
 '1956669 or',
 '1apple day',
 '1b6a5ecef91ff9 37819',
 '1cup milk',
 '1da 150ppmsg',
 '1er until',
 '1hr time',
 '1im talkin',
 '1lemon day',
 '1mega pixels',
 '1million to',
 '1pm orchard',
 '1st 5free',
 '1st 5wkg',
 '1st class',
 '1st free',
 '1st get',
 '1st june',
 '1st lor',
 '1st ringtone',
 '1st salary',
 '1st sept',
 '1st then',
 '1st tone',
 '1st ur',
 '1st wat',
 '1st week',
 '1st wk',
 '1st4terms pobox84',
 '1stchoice co',
 '1stone sun',
 '1thing got',
 '1tulsi leaf',
 '1winaweek age16',
 '1winawk age16',
 '1x150p wk',
 '1yf 150ppm',
 '20 000',
 '20 is',
 '20 its',
 '20 mins',
 '20 off',
 '20 photo',
 '20 poboxox36504w45wq',
 '20 that',
 '20 tones',
 '20 years',
 '200 award',
 '200 free',
 '200 prize',
 '200 shopping',
 '200 summer',
 '200 this',
 '2000 award',
 '2000 bonus',
 '2000 cash',
 '2000 gift',
 '2000 plus',
 '2000 pound',
 '2000 prize',
 '2003 account',
 '2004 account',
 '2004 must',
 '2004 offer',
 '2005 text',
 '2006 fifa',
 '2007 name',
 '2007 uk',
 '200p 16',
 '2025050 or',
 '20m12aq 150ppm',
 '20p min',
 '20p per',
 '21 11',
 '21 from',
 '21 is',
 '21 matches',
 '21 may',
 '21870000 hi',
 '21st instead',
 '21st may',
 '22 65',
 '22 days',
 '220 cm2',
 '220cm2 9ae',
 '23f for',
 '24 10',
 '24 7mp',
 '24 hours',
 '24 hrs',
 '24hrs for',
 '24hrs free',
 '24th sept',
 '25 18',
 '25 and',
 '25 free',
 '25 is',
 '25 pass',
 '25 year',
 '250 cash',
 '250 gift',
 '250 sms',
 '250 top',
 '250 want',
 '250 weekly',
 '250 wkly',
 '250k dream',
 '255 all',
 '25p alfie',
 '25p free',
 '25p pm',
 '25p see',
 '25p to',
 '26 03',
 '26 10',
 '26 11',
 '26 sorry',
 '2667 wc1n',
 '26th july',
 '26th of',
 '27 03',
 '28 days',
 '28 eh74rr',
 '28 soiree',
 '2814032 16',
 '28days cs',
 '28th feb',
 '28thfeb apply',
 '29 03',
 '29 10',
 '29 is',
 '2b terminated',
 '2c pics',
 '2channel it',
 '2day 09099726395',
 '2day da',
 '2day goodmate',
 '2day is',
 '2day love',
 '2day night',
 '2day text',
 '2day ur',
 '2day wiv',
 '2docd please',
 '2end send',
 '2exit this',
 '2ez 150ppm',
 '2find out',
 '2geva again',
 '2geva its',
 '2go did',
 '2go out',
 '2go thanx',
 '2gthr drinking',
 '2hook up',
 '2hrs because',
 '2i am',
 '2kbsubject low',
 '2lands row',
 '2marrow are',
 '2marrow only',
 '2moro luv',
 '2moro who',
 '2morow 28',
 '2morow after',
 '2morow luv',
 '2morro half',
 '2morrow luv',
 '2morrow maga',
 '2morrow off',
 '2mro am',
 '2mrw afternoon',
 '2mrw at',
 '2mrw love',
 '2mrw luv',
 '2mwen im',
 '2nd attempt',
 '2nd innings',
 '2nd may',
 '2nd one',
 '2nd opinion',
 '2nd test',
 '2nd time',
 '2nd ur',
 '2nhite ros',
 '2nights ur',
 '2nite chat',
 '2nite didnt',
 '2nite just',
 '2nite love',
 '2nite some',
 '2nite tell',
 '2nite want',
 '2nite what',
 '2optout 087187262701',
 '2optout d3wv',
 '2p per',
 '2price linerental',
 '2px 150ppm',
 '2rcv hlp',
 '2stop reply',
 '2stop txt',
 '2stoptxt cs',
 '2u in',
 '2u rply',
 '2u soonlots',
 '2u2 id',
 '2watershd bit',
 '2waxsto do',
 '2wks free',
 '2wks the',
 '2wu only',
 '2years sent',
 '2yr warranty',
 '2yrs just',
 '30 as',
 '30 for',
 '30 if',
 '30 max',
 '30 or',
 '30 secs',
 '30 speak',
 '30 too',
 '30 wanna',
 '30 was',
 '300 free',
 '300 nasdaq',
 '3000 award',
 '300603 post',
 '300603t csbcm4235wc1n3xx',
 '300p have',
 '3030 valid',
 '30ish but',
 '30ish what',
 '30pm and',
 '30pp txt',
 '30s www',
 '30th august',
 '31 10',
 '31 december',
 '3100 standard',
 '310303 cs',
 '31p msg',
 '32 is',
 '32000 award',
 '3230 textbook',
 '326 cw25wx',
 '33 50',
 '33 65',
 '330 hm',
 '350 award',
 '350 dial',
 '350 reward',
 '350 to',
 '3510i colour',
 '35p think',
 '3650 video',
 '36504 w4',
 '36504 w45wq',
 '3680 offer',
 '3680 subject',
 '373 london',
 '3750 pounds',
 '37819 first',
 '38 definitely',
 '382 ubi',
 '391784 use',
 '3d its',
 '3d was',
 '3d when',
 '3days also',
 '3g for',
 '3g is',
 '3g videophones',
 '3gbp network',
 '3hrs 16',
 '3lions tone',
 '3lp 50',
 '3lp msg',
 '3miles day',
 '3mins 30s',
 '3mins vary',
 '3mobile if',
 '3optical and',
 '3pound help',
 '3qxj9 unsubscribe',
 '3rd ur',
 '3ss 150ppm',
 '3uz 150p',
 '3uz 16',
 '3uz cost',
 '3wks but',
 '3x 150pw',
 '40 matches',
 '40 years',
 '400 inclusive',
 '400 prize',
 '400 proze',
 '400 reward',
 '400 xmas',
 '400mins call',
 '400thousad told',
 '4041 standard',
 '40411 expires',
 '40533 expires',
 '40gb ipod',
 '40mph hey',
 '41685 expires',
 '41782 expires',
 '42049 expires',
 '4217 london',
 '42478 expires',
 '42810 expires',
 '430 got',
 '434 or',
 '434 see',
 '434 sk3',
 '44 7732584351',
 '440 or',
 '440 see',
 '447797706009 why',
 '447801259231 have',
 '448712404000 please',
 '449050000301 you',
 '449071512431 urgent',
 '45 per',
 '450 uk',
 '450p per',
 '450ppw 16',
 '45239 expires',
 '45pm that',
 '47 po19',
 '4719 523',
 '4742 between',
 '47per hour',
 '48 it',
 '48 tb',
 '4882 are',
 '48922 expires',
 '49 month',
 '49557 expires',
 '4a meal',
 '4a month',
 '4brekkie love',
 '4d closes',
 '4d for',
 '4eva promise',
 '4few seconds',
 '4fil theirs',
 '4fil ur',
 '4get about',
 '4get name',
 '4give me',
 '4got gonna',
 '4goten bout',
 '4mths half',
 '4my work',
 '4t ctxt',
 '4th guy',
 '4th ur',
 '4th wife',
 '4the driving',
 '4thnov behind',
 '4txt 120p',
 '4txt ú1',
 '4u congratulations',
 '4u couple',
 '4u didn',
 '4u rodds1',
 '4u rply',
 '4u to',
 '4utxt rply',
 '4w technologies',
 '4ward in',
 '4wrd it',
 '4xx26 expires',
 '4years of',
 '50 008704050406',
 '50 500',
 '50 cancel',
 '50 deposit',
 '50 each',
 '50 increments',
 '50 min',
 '50 minapn',
 '50 mins',
 '50 more',
 '50 morefrmmob',
 '50 msg',
 '50 mtmsgrcvd18',
 '50 on',
 '50 only',
 '50 pay',
 '50 per',
 '50 pm',
 '50 pounds',
 '50 shd',
 '50 should',
 '50 sp',
 '50 to',
 '50 week',
 '50 will',
 '50 wk',
 '50 you',
 '500 75',
 '500 bonus',
 '500 cash',
 '500 cd',
 '500 cross',
 '500 enter',
 '500 free',
 '500 guaranteed',
 '500 new',
 '500 of',
 '500 optout',
 '500 pounds',
 '500 prize',
 '500 texts',
 '500 to',
 '500 ur',
 '5000 00',
 '5000 await',
 '5000 cash',
 '5000 pounds',
 '5000 prize',
 '5000 to',
 '505060 to',
 '50award if',
 '50ea otbox',
 '50gbp mtmsg18',
 '50p msg',
 '50p per',
 '50p std',
 '50p wk',
 '50pm approx',
 '50pmmorefrommobile2bremoved mobypobox734ls27yf',
 '50ppm last',
 '50s is',
 '515 like',
 '5226 are',
 '523 box95qu',
 '5249 mk17',
 '526 sw73ss',
 '528 hp20',
 '530 ar',
 '530 like',
 '530 lor',
 '530 show',
 '54 next',
 '54 weeks',
 '542 0578',
 '542 0825',
 '545 lor',
 '5digital dooms',
 '5free 50',
 '5k 500',
 '5min hold',
 '5min of',
 '5mls then',
 '5p alfie',
 '5p min',
 '5pm 95',
 '5th ur',
 '5wb 0870',
 '5we 150p',
 '5we 150pm',
 '5wkg days',
 '5wq norm',
 '5years of',
 '60 400thousad',
 '600 anytime',
 '600 next',
 '6031 between',
 '60p min',
 '61 66',
 '61200 25p',
 '61610 to',
 '62220cncl send',
 '6230 plus',
 '62735 450',
 '630 oredi',
 '63miles good',
 '65 61',
 '65 so',
 '66 382',
 '6669 or',
 '67441233 look',
 '68866 subscriptn3gbp',
 '69101 www',
 '69200 get',
 '69669 saristar',
 '69669 to',
 '69696 now',
 '69698 text',
 '69855 24hrs',
 '69866 18',
 '69876 txts',
 '69888 now',
 '69888 nt',
 '69888nyt ec2a',
 '69911 50p',
 '69969 msg',
 '69988 if',
 ...]